main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
  width: 90%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  margin-bottom: 150px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 5px;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  background-color: #fdfdfd;
  transition: border-color 0.2s ease;
}

input:focus,
textarea:focus {
  border-color: #5b2c2c;
  outline: none;
}

button {
  background-color: #5b2c2c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #7a3a3a;
}
