.cards-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
  padding: 30px;
  }

  h3 {
    text-align: center; 
  }

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px; 
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;

  img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  p {
    padding: 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.5;
  }
}

.card:hover {
  transform: translateY(-5px);
}
